<p id="notice"><%= notice %></p>

<h1>Fakebooks</h1>

<div display="block">
  <input type="text" display="inline-block" id="search-box" value="">
  <button display="inline-block" type="button" class="search">Search</button>
</div>

<div class="table-wrapper">
  <div class="table-scroll">
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Title</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody class="scrollable">
        <% @fakebooks.each do |fakebook| %>
          <tr class="<%= fakebook.code %>" data-book="<%= fakebook.code %>">
            <td class="perm-white"><button type="button" data-book="<%= fakebook.code %>" class="book"><%= fakebook.code %></button></td>
            <td><%= fakebook.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="table-wrapper">
  <div class="table-scroll">
    <table>
      <thead>
        <tr>
          <th>Bookcode</th>
          <th>Page</th>
          <th>Title</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="songs">

      </tbody>
    </table>
  </div>
</div>
