<%= form_for(@bookcode) do |f| %>
  <% if @bookcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookcode.errors.count, "error") %> prohibited this bookcode from being saved:</h2>

      <ul>
      <% @bookcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_area :code %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :format %><br>
    <%= f.text_area :format %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_area :filename %>
  </div>
  <div class="field">
    <%= f.label :page_offset %><br>
    <%= f.number_field :page_offset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
